@model IEnumerable<InterLinked.Models.Post>

@{
    ViewData["Title"] = "Internships/job Posts";
}

<h1>Current Internships/job Posts</h1>


@if (User.IsInRole("Company") || User.IsInRole("StudentOrganization"))
{
<p>
    <a asp-action="Create" class="btn btn-primary">Create New Post</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Company
            </th>
            <th>
                Post description
            </th>
            <th>
                Posted At
            </th>
            <th>
                Apply until
            </th>
            <th>
                Website Link
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @item.User?.UserName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebsiteLink)
            </td>
            <td>
                    @if (User.IsInRole("Company") || User.IsInRole("StudentOrganization"))
                {
                <a asp-action="edit" asp-route-id="@item.PostId">edit</a> 
                        <a asp-action="details" asp-route-id="@item.PostId">details</a>
                        <a asp-action="delete" asp-route-id="@item.PostId">delete</a>
                }

                @if (User.IsInRole("Individual"))
                {
                        <a asp-controller="Applications" asp-action="Create" asp-route-postId="@item.PostId">Apply</a>
                }
                    

            </td>
        </tr>
}
    </tbody>
</table>
